  <!-- Footer -->

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <ul class="text-center">
            <li class="list-inline-item">
              <a href="https://github.com/superharryh">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul>
          <p class="copyright">Created by <img class="sign" src="static/img/sign.png" alt="sign.png"> in {{ year }}. All rights reserved.</p>
        </div>
      </div>
    </div>
  </footer>